# Gegraphical data clustering

In [ ]:
import pandas as pd
from geopy.geocoders import Nominatim, ArcGIS, Photon
from geopy.extra.rate_limiter import RateLimiter

In [ ]:
geolocator = Nominatim(user_agent='em_nome_do_pai')
# geolocator = Photon()
# geolocator = ArcGIS(username='cwrneiro', password='Chronos.42progoogle', referer='http://www.example.com')
delayed_geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

In [1]:
df = pd.read_parquet('stock.parquet')#.sample(n=50)
df.shape

(2413, 6)

In [2]:
df['full_address'] = df.street + ', ' + df.neighborhood
df.full_address

0                 Rua Lamute, São João Clímaco, São Paulo
1             Rua Galeno de Castro, Jurubatuba, São Paulo
2             Alameda Nothmann, Campos Elíseos, São Paulo
3        Rua Luís Correia de Melo, Santo Amaro, São Paulo
4                   Rua Jorge Rizzo, Pinheiros, São Paulo
                              ...
2408                 Rua Eleutério, Campo Belo, São Paulo
2409          Rua General Jardim, Vila Buarque, São Paulo
2410    Rua Paulo de Avelar, Vila Dom Pedro Ii, São Paulo
2411    Avenida Leonardo da Vinci, Vila Guarani (z Sul...
2412                Rua São Joaquim, Liberdade, São Paulo
Name: full_address, Length: 2413, dtype: object

In [ ]:
def get_lat_long(address: str):
    location = delayed_geocode(address)
    
    if location is not None:
        return location.latitude, location.longitude

    return None, None

In [3]:
'''
df[['latitude', 'longitude']] = df.full_address.apply(lambda address: pd.Series(get_lat_long(address)))
df
'''

df[['latitude', 'longitude']] = None, None

n_rows = 50

for i in range(len(df.index)//n_rows):
    print(f'Getting coordinates for columns {i*n_rows} to {(i+1)*n_rows}')

    df.iloc[i*n_rows:(i+1)*n_rows, [df.columns.get_loc(c) for c in ['latitude', 'longitude']]] = df.iloc[i*n_rows:(i+1)*n_rows].full_address.apply(lambda address: pd.Series(get_lat_long(address)))

    print(f'Success, with {df.iloc[i*n_rows:(i+1)*n_rows].isna().sum()}% na')


    file_path = f'data/chunk_{i}.parquet'
    
    print(f'Saving to {file_path}')

    df.iloc[i*n_rows:(i+1)*n_rows].to_parquet(file_path)

    print('Saved')

Getting coordinates for columns 0 to 50
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        23
longitude       23
dtype: int64% na
Saving to data/chunk_0.parquet
Saved
Getting coordinates for columns 50 to 100
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_1.parquet
Saved
Getting coordinates for columns 100 to 150
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_2.parquet
Saved
Getting coordinates for columns 150 to 200
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_3.parquet
Saved
Getting coordinates for columns 200 to 250
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_4.parquet
Saved
Getting coordinates for columns 250 to 300
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_5.parquet
Saved
Getting coordinates for columns 300 to 350
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        14
longitude       14
dtype: int64% na
Saving to data/chunk_6.parquet
Saved
Getting coordinates for columns 350 to 400
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        18
longitude       18
dtype: int64% na
Saving to data/chunk_7.parquet
Saved
Getting coordinates for columns 400 to 450
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        13
longitude       13
dtype: int64% na
Saving to data/chunk_8.parquet
Saved
Getting coordinates for columns 450 to 500
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        20
longitude       20
dtype: int64% na
Saving to data/chunk_9.parquet
Saved
Getting coordinates for columns 500 to 550
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        19
longitude       19
dtype: int64% na
Saving to data/chunk_10.parquet
Saved
Getting coordinates for columns 550 to 600
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        28
longitude       28
dtype: int64% na
Saving to data/chunk_11.parquet
Saved
Getting coordinates for columns 600 to 650
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        27
longitude       27
dtype: int64% na
Saving to data/chunk_12.parquet
Saved
Getting coordinates for columns 650 to 700
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_13.parquet
Saved
Getting coordinates for columns 700 to 750
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_14.parquet
Saved
Getting coordinates for columns 750 to 800
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_15.parquet
Saved
Getting coordinates for columns 800 to 850
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        22
longitude       22
dtype: int64% na
Saving to data/chunk_16.parquet
Saved
Getting coordinates for columns 850 to 900
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        18
longitude       18
dtype: int64% na
Saving to data/chunk_17.parquet
Saved
Getting coordinates for columns 900 to 950
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        22
longitude       22
dtype: int64% na
Saving to data/chunk_18.parquet
Saved
Getting coordinates for columns 950 to 1000
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        17
longitude       17
dtype: int64% na
Saving to data/chunk_19.parquet
Saved
Getting coordinates for columns 1000 to 1050
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_20.parquet
Saved
Getting coordinates for columns 1050 to 1100
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        23
longitude       23
dtype: int64% na
Saving to data/chunk_21.parquet
Saved
Getting coordinates for columns 1100 to 1150
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        18
longitude       18
dtype: int64% na
Saving to data/chunk_22.parquet
Saved
Getting coordinates for columns 1150 to 1200
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        20
longitude       20
dtype: int64% na
Saving to data/chunk_23.parquet
Saved
Getting coordinates for columns 1200 to 1250
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_24.parquet
Saved
Getting coordinates for columns 1250 to 1300
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_25.parquet
Saved
Getting coordinates for columns 1300 to 1350
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        22
longitude       22
dtype: int64% na
Saving to data/chunk_26.parquet
Saved
Getting coordinates for columns 1350 to 1400
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        17
longitude       17
dtype: int64% na
Saving to data/chunk_27.parquet
Saved
Getting coordinates for columns 1400 to 1450
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        20
longitude       20
dtype: int64% na
Saving to data/chunk_28.parquet
Saved
Getting coordinates for columns 1450 to 1500
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        23
longitude       23
dtype: int64% na
Saving to data/chunk_29.parquet
Saved
Getting coordinates for columns 1500 to 1550
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        26
longitude       26
dtype: int64% na
Saving to data/chunk_30.parquet
Saved
Getting coordinates for columns 1550 to 1600
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        16
longitude       16
dtype: int64% na
Saving to data/chunk_31.parquet
Saved
Getting coordinates for columns 1600 to 1650
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        21
longitude       21
dtype: int64% na
Saving to data/chunk_32.parquet
Saved
Getting coordinates for columns 1650 to 1700
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_33.parquet
Saved
Getting coordinates for columns 1700 to 1750
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        22
longitude       22
dtype: int64% na
Saving to data/chunk_34.parquet
Saved
Getting coordinates for columns 1750 to 1800
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        15
longitude       15
dtype: int64% na
Saving to data/chunk_35.parquet
Saved
Getting coordinates for columns 1800 to 1850
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        18
longitude       18
dtype: int64% na
Saving to data/chunk_36.parquet
Saved
Getting coordinates for columns 1850 to 1900
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        19
longitude       19
dtype: int64% na
Saving to data/chunk_37.parquet
Saved
Getting coordinates for columns 1900 to 1950
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        14
longitude       14
dtype: int64% na
Saving to data/chunk_38.parquet
Saved
Getting coordinates for columns 1950 to 2000
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_39.parquet
Saved
Getting coordinates for columns 2000 to 2050
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        19
longitude       19
dtype: int64% na
Saving to data/chunk_40.parquet
Saved
Getting coordinates for columns 2050 to 2100
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_41.parquet
Saved
Getting coordinates for columns 2100 to 2150
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        28
longitude       28
dtype: int64% na
Saving to data/chunk_42.parquet
Saved
Getting coordinates for columns 2150 to 2200
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        16
longitude       16
dtype: int64% na
Saving to data/chunk_43.parquet
Saved
Getting coordinates for columns 2200 to 2250
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        22
longitude       22
dtype: int64% na
Saving to data/chunk_44.parquet
Saved
Getting coordinates for columns 2250 to 2300
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        24
longitude       24
dtype: int64% na
Saving to data/chunk_45.parquet
Saved
Getting coordinates for columns 2300 to 2350
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        25
longitude       25
dtype: int64% na
Saving to data/chunk_46.parquet
Saved
Getting coordinates for columns 2350 to 2400
Success, with suite_area       0
street           0
neighborhood     0
condominium      0
tax              0
asking_price     0
full_address     0
latitude        22
longitude       22
dtype: int64% na
Saving to data/chunk_47.parquet
Saved